/* small device  */
@media (max-width:668px) {
    .col-3{grid-template-columns: repeat(1, 1fr);}
    .header-con{flex-direction: column; width: 100%;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    padding: 50px;
    } 
    .header-left {
    width: 100%;
    padding: 0;
    }
   
   .header-right {
        width: 100%; 
    }   
    .header-left h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .sidebar {
        padding: 15px;
    }

    .sidebar-item {
    width: 100%;
    background-color: white;
    padding: 0;
    }


    .sidebar-item ul li{border: 1px solid gray;} 
    .content_area div{flex-direction: column;}

    .single_footer_bottom{
        display: inline;
    }
    .footer-bottom ul{flex-direction: column;}
    .single_blog {
        width: 100%;}
    .blog_area{ grid-template-columns: repeat(1, 1fr); 
        padding: 10px;
    }
    footer {
        padding: 10px;
    }

    .footer-bottom ul li{text-align: center;}


}


/* Medium device */
@media (max-width:992px){
    .col-3{grid-template-columns: repeat(2, 1fr);}
    .header-con{padding: 0; border-radius: 25px;}
    .header-left {
        padding: 30px;
    }
    .content_left{
        display:flex;
        flex-direction: column;
    }
    .sidebar-item {
        width: 100%;
        background-color: white;
        margin-bottom: 50px;
    }
    .sidebar-item ul {}

    .sidebar-item ul li{display: inline; border: 1px solid gray; padding: 20px;}

}